<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Sistema Venta</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;">
        <mat-nav-list>
           <mat-list-item routerLink="/pages/usuarios">
            <mat-icon matListItemIcon>group</mat-icon>
            <div matListItemLine>Usuarios</div>
           </mat-list-item> 
           <mat-list-item routerLink="/pages/productos">
            <mat-icon matListItemIcon>collections_bookmark</mat-icon>
            <div matListItemLine>Productos</div>
           </mat-list-item> 
           <mat-list-item routerLink="/pages/pedido">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <div matListItemLine>Pedido</div>
           </mat-list-item> 
           <mat-list-item routerLink="/pages/historial_pedido">
            <mat-icon matListItemIcon>edit_note</mat-icon>
            <div matListItemLine>Historial Pedidos</div>
           </mat-list-item> 
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>